<span th:fragment="stars" class="wrap_input" >
    <span th:onclick="|rate(5, '${review.id}')|" class="star"><i class="fa-regular fa-star stars__out"><i class="fa-solid fa-star stars__in"></i></i></span>
    <span th:onclick="|rate(4, '${review.id}')|" class="star"><i class="fa-regular fa-star stars__out"><i class="fa-solid fa-star stars__in"></i></i></span>
    <span th:onclick="|rate(3, '${review.id}')|" class="star"><i class="fa-regular fa-star stars__out"><i class="fa-solid fa-star stars__in"></i></i></span>
    <span th:onclick="|rate(2, '${review.id}')|" class="star"><i class="fa-regular fa-star stars__out"><i class="fa-solid fa-star stars__in"></i></i></span>
    <span th:onclick="|rate(1, '${review.id}')|" class="star"><i class="fa-regular fa-star stars__out"><i class="fa-solid fa-star stars__in"></i></i></span>
</span>