.wrap_input{
    display: flex;
    flex-flow: row-reverse;
}

.star:hover i i,
.star:hover ~ .star i i {
    width: 100%;
}

.stars__out {
    position: relative;
    margin-right: 2px;
    color: grey;
    z-index: 1;
}
.stars__in {
    position: absolute;
    z-index: 2;
    color: orange;
    font-size: inherit;
    display: block;
    top: 0; bottom: 0;
    overflow: hidden;
    width: 0;
}