<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div layout:fragment="content">
<div class="text-center">
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody id="controlled">
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td> <a th:href="'/user/' + ${user.username}" th:text="'/user/' + ${user.username}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>